In [15]:
import pandas as pd
import numpy as np
housing_file = 'Housing_prices.csv'
house_df = pd.read_csv(housing_file)
display(house_df.head())

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [16]:
for columns in house_df:
    if house_df[columns].isnull().sum() > 10000:
        house_df = house_df.drop(columns, axis = 1)
display(house_df.isnull().sum())

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [17]:
house_df.fillna(0, inplace = True)

In [18]:
display(house_df.dtypes)
display(house_df.iloc[0])

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

Id                    1
MSSubClass           60
MSZoning             RL
LotFrontage        65.0
LotArea            8450
                  ...
MoSold                2
YrSold             2008
SaleType             WD
SaleCondition    Normal
SalePrice        208500
Name: 0, Length: 81, dtype: object

In [19]:
y = house_df.SalePrice.astype(np.float32, copy = False)
features = ['LotFrontage', 'LotArea','MoSold' ,'YrSold']
X = house_df[features].astype(np.float32, copy = False)

In [20]:
print(y.head())
print(X.head())

0    208500.0
1    181500.0
2    223500.0
3    140000.0
4    250000.0
Name: SalePrice, dtype: float32
   LotFrontage  LotArea  MoSold  YrSold
0         65.0   8450.0     2.0  2008.0
1         80.0   9600.0     5.0  2007.0
2         68.0  11250.0     9.0  2008.0
3         60.0   9550.0     2.0  2006.0
4         84.0  14260.0    12.0  2008.0

In [21]:
from sklearn.tree import DecisionTreeRegressor
house_model = DecisionTreeRegressor(random_state = 1)
house_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [22]:
y.head(10)

0    208500.0
1    181500.0
2    223500.0
3    140000.0
4    250000.0
5    143000.0
6    307000.0
7    200000.0
8    129900.0
9    118000.0
Name: SalePrice, dtype: float32

In [23]:
predictions = house_model.predict(X.head())
predictions

array([208500., 181500., 223500., 140000., 250000.])

In [24]:
from sklearn.model_selection import train_test_split as tts 
train_X, val_X, train_y, val_y = tts(X, y, random_state = 1)

In [25]:
house_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [26]:
house_pred = house_model.predict(val_X)
print(house_pred[0:5])
print(y.head(5).tolist())

[200000. 136500. 196000.  75000. 169900.]
[208500.0, 181500.0, 223500.0, 140000.0, 250000.0]

In [27]:
from sklearn.metrics import mean_absolute_error as mae 
val_house = mae(val_y, house_pred)

In [28]:
print(val_house)

62409.77534246576